
		body{background-color: rgb(25.25.25.5)
			/*;background-image: url('texturabdv.jpg');*/}

		
		@keyframes rotacion{
			from{transform: rotateZ(0deg);}

			to{transform: rotateZ(360deg);}
		}

		@keyframes traslacion{
			0% {z-index: 1;}

			25% {left: 950px;}
			50% {left: 1900px;}
			51% {z-index: -1;}
			75% {left: 950px;}
			100% {left: 0; z-index: -1;}
		}

		@keyframes sombra{
			0%  {opacity: 1;}
			25% {opacity: 0;}
			50% {opacity: 1;}
			75% {opacity: 0;}
			100%{opacity: 1;}
		}
		/*
			Nombre
			Duracion: seg
			Funcion: linear | ease | ease-in | ease-out | ease-in-out
			Delay: seg
			Iteraciones: número | infinite
			Dirección: alternate | reverse
		*/


		
		#logo{
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right:0;
			top: 60px;
			width: 400px;
			height: 400px;
			animation-name: sombra;
			animation-duration: 6s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}

		#logo2{
			background-color: black;
			border-radius: 50%;
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			padding: 0;
			left: 0;
			top: 500px;
			width: 1px;
			height: 1px;
			z-index: 1;
			animation-name: traslacion;
			animation-duration: 40s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}

		#img-logo2{
			animation-name: sombra;
			animation-duration: 10s;
			animation-timing-function: linear;
		}

		#container{
            background: url(logo.png);
            border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
            width: 400px;
            height: 400px;
            margin: 0 auto;
            transition: all 1s;
        }
        #container:hover{
            border-radius: 44% 56% 87% 13% / 68% 86% 14% 32% ;
	